.article-card {
  margin: 6px 5px;
  padding: 6px 0px;
}

.article-card:nth-child(n+2) {
  border-top: solid 1px black;
}

.article-card a {
  text-decoration: none;
}

.article-card h2 {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

.article-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0;
}

.vote-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
