.article-card {
  margin: 20px 5px;
}

.article-card h2 {
  font-size: 1.25em;
  margin: 0;
}

.article-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.article-interactions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
