.comments-list {
  width: 100%;  
  border-top: solid 1px rgba(32, 40, 41, 1);
}

.comments-list h3 {
  margin: 15px 0 5px 0;
}

#new-comment {
  background: #EEFFEE;
  transition: background 300ms ease-in-out;
}

.offscreen
 {
 clip-path: inset(100%);
 clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
 }
