nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button.nav-button {
  background: white;
  color: rgba(32, 40, 41, 1);
  border: 1px solid black;
  border-radius: 5px;
}

button.nav-button:hover {
  background: rgba(32, 40, 41, 1);
  color: white;
}
