nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-bottom: 3px;
  overflow: hidden;
}

nav.nav-closed {
  max-height: 40px;
  transition: max-height 1s;
}

nav.nav-open {
  max-height: 225px;
  transition: max-height 1s;
}

.nav-button {
  background: white;
  color: rgba(32, 40, 41, 1);
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 5px;
  margin: 5px 3px;
  min-width: 55px;
  height: 20px;
  text-align: center;
}

.nav-button:hover {
  background: rgba(32, 40, 41, 1);
  color: white;
  cursor: pointer;
}
