.vote-button {
  height: 35px;
  width: 30px;
  margin: 0 10px;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

button.vote-button.used {
  background: rgba(186, 31, 49, 1);
  border: 1px solid black;
}
