.App {
  height: 100vh;
  margin: 0;
  width: 100vw;
  padding: 0;
  display: grid;
  grid-template-rows: 2fr 14fr 1fr;
}

h1 {
  width: 100%;
  text-align: center;
}

h1::first-letter {
  color: rgba(186, 31, 49, 1);
}

.nc-news-body {
  margin: 5px;
  overflow-y: scroll;
}
